html,
body,
.wrapper {
  height: 95vh;
}
.wrapper {
  display: grid;
  grid-template-rows: 15% 30% 30% 15%;
  justify-content: space-evenly;
  row-gap: 20px;
}
.wrapper > div {
  border: 2px solid red;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 15% 30% 30% 15%;
    grid-template-rows: none;
  }
}